body, :root {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}
.Root {
  font-family: sans-serif;
  --cols: 4;
  --animation-duration: 0.75s;
}
.Card {
  user-select: none;
  --gap: 0.2;
  --gap-absolute: calc((100vmin / (var(--cols) + var(--gap) * (var(--cols) + 1))) * var(--gap));
  background-color: #333;
  border-radius: calc(var(--gap-absolute) / 2);
  position: absolute;
  --width: calc(100vw / (var(--cols) + var(--gap) * (var(--cols) + 1)));
  --height: calc(100vh / (var(--cols) + var(--gap) * (var(--cols) + 1)));
  width: var(--width);
  height: var(--height);
  top: calc(
    (100vh - var(--height) * var(--cols) - var(--gap-absolute) * (var(--cols) + 1)) / 2 +
    (var(--height) + var(--gap-absolute)) * var(--row) + var(--gap-absolute)
  );
  left: calc(
    (100vw - var(--width) * var(--cols) - var(--gap-absolute) * (var(--cols) + 1)) / 2 +
    (var(--width) + var(--gap-absolute)) * var(--col) + var(--gap-absolute)
  );
  opacity: 1;
  transition: transform var(--animation-duration),
    width var(--animation-duration),
    height var(--animation-duration),
    opacity var(--animation-duration),
    top var(--animation-duration),
    left var(--animation-duration),
    z-index var(--animation-duration),
    border-radius var(--animation-duration);
  transform: perspective(500px) translate3d(0, 0, 0);
}
[data-state='1'] .Card[data-phase='0'] {
  opacity: 0;
}
.Card[data-phase='0'] {
  z-index: 0;
}
.Card[data-phase='1'], .Card[data-phase='2'] {
  z-index: 1000;
  top: calc(50vh - var(--height) / 2);
  left: calc(50vw - var(--width) / 2);
  --cols: 1;
}
.Card[data-phase='1'] {
  transform: perspective(500px) rotateY(180deg);
}
.Card[data-phase='2'] {
  transform: perspective(500px) rotateY(0deg);
}
.Card-Decoration {
  position: absolute;
  --delay: calc(var(--gap-absolute) / 4);
  width: auto;
  height: auto;
  top: var(--delay);
  right: var(--delay);
  bottom: var(--delay);
  left: var(--delay);
  border: calc(var(--gap-absolute) / 16) solid white;
  border-radius: calc(var(--gap-absolute) / 4);
  transition: visibility 0s linear calc(var(--animation-duration) * 0.3);
  visibility: hidden;
}
.Card[data-phase='1'] > .Card-Decoration {
  visibility: visible;
}
.Card-Label {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: calc(var(--gap-absolute)/ var(--gap) * 0.4);
  line-height: var(--height);
  color: white;
  transition: font-size var(--animation-duration),
    line-height var(--animation-duration),
    visibility 0s linear calc(var(--animation-duration) * 0.3);
  visibility: visible;
}
.Card[data-phase='1'] > .Card-Label {
  visibility: hidden;
}

.AboutLink, .AboutLink:visited {
  color: grey;
  position: fixed;
  bottom: 0.25em;
  left: 0.25em;
  opacity: 0;
  transition: opacity var(--animation-duration);
}
[data-state='0'] .AboutLink {
  opacity: 1;
}

.FullscreenButton {
  appearance: none;
  display: inline;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
  text-decoration: underline;

  color: grey;
  position: fixed;
  bottom: 0.25em;
  right: 0.25em;
  opacity: 0;
  transition: opacity var(--animation-duration);
}
[data-state='0'] .FullscreenButton {
  opacity: 1;
}
